* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/* =========== Header =========== */

.header_1 {
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.header_1 .logo_text {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
    letter-spacing: 7px;
    text-shadow: 6px 1px 2px rgba(0, 0, 0, 0.64);
    color: rgb(255, 220, 155);
}

.header_1 .navg a {
    padding: 14px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}

.header_1 .navg a:hover {
    background-color: rgb(160, 160, 160);
    color: black;
    cursor: pointer;
}

/* =========== Header =========== */


/* =========== Hero =========== */

.hero_sec {
    background-color: aqua;
    height: 600px;
    width: 100%;
}

.hero_sec .hero_div {
    background-image: url("../Images/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.hero_sec .hero_div h2 {
    font-size: 80px;
    color: rgb(230, 212, 45);
    text-shadow: 1px 6px 2px rgba(0, 0, 0, 1);
}

.hero_sec .hero_div h2 span {
    text-transform: capitalize;
}

.hero_sec .hero_div p {
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(255, 183, 28);
    text-shadow: 1px 6px 2px rgba(0, 0, 0, 1);
}

/* =========== Hero =========== */

/* ================ Info =============== */

.div_info {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
}

.div_info .content_1 {
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 900px;
    background-color: white;
    padding: 55px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.47);
}


.div_info .content_1 .prof_info {
    padding-top: 10px;
    width: 350px;
}

.div_info .content_1 .prof_info img {
    float: left;
    width: 130px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.div_info .content_1 .prof_info .name {
    float: right;
    font-size: 18px;
    padding-top: 3px;
}

.div_info .content_1 .prof_info .skills_ {
    line-height: 25px;
    clear: both;
}

.div_info .content_1 .about_me {
    width: 425px;
}

.div_info .content_1 .about_me h2 {
    font-size: 30px;
    font-weight: 500px;
}

/* ================ Info =============== */


/* ================ Servicse ===============*/
.service_sec {
    height: 730px;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

.service_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_sec .service_heading h2 {
    font-size: 36px;
    font-weight: 500px;
    margin-bottom: 7px;
}

.service_sec .services {
    box-sizing: border-box;
    height: 570px;
    width: 1100px;
    margin: 50px auto;
}

.service_sec .services .upper_div,
.service_sec .services .lower_div {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    height: 285px;
    justify-content: center;
    gap: 20px;
}


.service_sec .services .upper_div .service_box,
.service_sec .services .lower_div .service_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 260px;
    width: 320px;
    background-color: rgb(0, 218, 218);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
}

.service_sec .services .upper_div .service_box .service_icon,
.service_sec .services .lower_div .service_box .service_icon {
    font-size: 50px;
    background-color: rgb(228, 228, 228);
    height: 90px;
    width: 100px;
    border: 9px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s all ease;
}

.service_sec .services .upper_div .service_box .service_icon:hover,
.service_sec .services .lower_div .service_box .service_icon:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    border: 9px solid rgb(228, 228, 228);
   
}

.service_sec .services .upper_div .service_box .box_heading,
.service_sec .services .lower_div .service_box .box_heading {
    font-size: 23px;
    font-weight: 550;
}

.service_sec .services .upper_div .service_box .box_para,
.service_sec .services .lower_div .service_box .box_para {
    text-align: center;
    font-size: 16px;
}


/* ================ Servicse===============*/


/*============== counter section ============= */
#projectsno_section {
    width: 100%;
    margin: 50px 0px 50px;
    min-height: 350px;
    background-color:#3676ee;
    display: flex;
    justify-content: center;
}

#projectsno_section .project_count {
    width: 1100px;
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#projectsno_section .project_count .count_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#projectsno_section .project_count .count_child .count_icon {
    font-size: 50px;
    height: 90px;
    width: 100px;
    border: 9px solid rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(228, 228, 228);
}

#projectsno_section .project_count .count_child :nth-child(2),
#projectsno_section .project_count .count_child :nth-child(3) {
    color: rgb(228, 228, 228);
    font-size: 26px;
    font-weight: 400;
}

#rating_number {
    display: block;
}

#rating_number i {
    font-size: 19px;
}


/*============== counter section ============= */


/* ============= Portfolio Section =============*/
#portfolio_sec {
    max-height: 800px;
    padding: 40px 30px;
    background-color: rgb(228, 228, 228);


}

#portfolio_sec .portf_head h2 {
    padding: 7px;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 4px;
    text-align: center;
}

#portfolio_sec .portf_head p {
    letter-spacing: 2px;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
}

#portfolio_sec .portfolio_proj {
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#portfolio_sec .portfolio_proj .proj_box {
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s ease;

}

#portfolio_sec .portfolio_proj .proj_box:hover {
    transform: scale(0.95);

}

#portfolio_sec .portfolio_proj .proj_box img {
    height: 270px;
    width: 325px;
    padding: 5px;
    border-radius: 20px;
}

#portfolio_sec .portfolio_proj .proj_box p {
    padding: 10px;
    font-size: 20;
}



/* ============= Portfolio Section =============*/


/* ============= Profile Section =============== */
#prof_sec {
    margin: 50px 0px;
    height: 500px;
    background-color: #3676ee;
    display: flex;
    justify-content: center;
    align-items: center;

}

#prof_sec .prof_container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#prof_sec .prof_container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#prof_sec .prof_container h2 {
    font-size: 30px;
    color: rgb(228, 228, 228);
}

#prof_sec .prof_container p {
    color: rgb(228, 228, 228);
    text-align: center;
}

/* ============= Profile Section =============== */


/* ============= Blog Section ============= */
#blog_sec {
    background-color: rgb(228, 228, 228);
    height: 930px;
    padding: 40px 30px;
}

#blog_sec .blog_heading h2 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
}

#blog_sec .blog_heading p {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

#blog_sec .blog_container{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#blog_sec .blog_container .blog_box{
    width: 335px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s ease;

}

#blog_sec .blog_container .blog_box:hover{
    transform: scale(1.05);
}

#blog_sec .blog_container .blog_box img{
    height: 270px;
    width: 325px;
    padding: 5px;
    border-radius: 20px;
}

#blog_sec .blog_container .blog_box h2{
    font-size: 25px;
    padding: 3px;

}

#blog_sec .blog_container .blog_box p{
    padding: 5px;
    
}



/* ============= Blog Section ============= */



/* ============= Form Section ============= */
#form_sec{
    margin-top: 100px;
    height: 540px;
    background-color: #3676ee;
    padding:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_sec .form_container{
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 500px;
    border-radius: 20px;
    box-sizing: border-box;
}

#form_sec .form_container .msg_us{
    width: 49%;
    padding: 20px 0px;
    
}

#form_sec .form_container .msg_us form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#form_sec .form_container .msg_us form h3{
    padding: 10px;
    font-size: 26px;
    letter-spacing: 2px;
}

#form_sec .form_container .msg_us form .form-space{
    padding: 10px;
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    border: 2px solid grey;
    outline: none;
}
#form_sec .form_container .msg_us form .btn{
    align-self: center;
    width:50%;
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: #3676ee;
    transition: all 0.5s ease;
    cursor: pointer;
}

#form_sec .form_container .msg_us form .btn:hover{
    background-color: #295bb8;
    color: white;
    
}
#form_sec .form_container .get_touch{
    width: 48%;
    padding:32px  40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form_sec .form_container .get_touch h3{
    font-size: 26px;
    letter-spacing:2px ;

}

#form_sec .form_container .get_touch p{
    font-size: 18px;
    line-height: 1.4;
}

#form_sec .form_container .get_touch .contact_info{
    margin-top:10px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form_sec .form_container .get_touch .contact_info p{
    font-size: 18px;
}

#form_sec .form_container .get_touch .contact_info p i{
    color: blue;
    font-size: 20px;

}
/* ============= Form Section ============= */