*{
    margin: 0px;
    padding: 0px;
}
/* =========== Header =========== */

.header_1{
    background-color:rgb(160, 160, 160);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
}

.header_1 .logo_text{
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
    letter-spacing: 7px;
    text-shadow: 6px 1px 2px rgba(0, 0, 0, 0.64);
    color:rgb(255, 220, 155);
}

.header_1 .navg a{
    padding: 14px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}

.header_1 .navg a:hover{
    background-color:rgb(160, 160, 160);
    color:black;
}
/* =========== Header =========== */


/* =========== Hero =========== */

.hero_sec{
    background-color: aqua;
    height: 600px;
    width: 100%;
}
.hero_sec .hero_div{
    background-image: url("../Images/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.hero_sec .hero_div h2{
    font-size: 80px;
    color:rgb(230, 212, 45);
    text-shadow: 1px 6px 2px rgba(0, 0, 0, 1);
}

.hero_sec .hero_div h2 span{
    text-transform: capitalize;
}

.hero_sec .hero_div p{
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(255, 183, 28);
    text-shadow: 1px 6px 2px rgba(0, 0, 0, 1);
}
/* =========== Hero =========== */

/* ================ Info =============== */

.div_info{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.div_info .content_1{
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 900px;
    background-color:white;
    padding: 55px;
    border-radius: 7px;
}


.div_info .content_1 .prof_info{
    width:350px;   
}

.div_info .content_1 .prof_info img{
    float: left;
    width: 130px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.div_info .content_1 .prof_info .name{
    float: right;
    font-size: 18px;  
    padding-top: 3px;
}
.div_info .content_1 .prof_info .skills_{
    line-height: 25px;
    clear: both;
}
 .div_info .content_1 .info_1{
    width: 425px;
}
.div_info .content_1 .info_1 span{
    font-size: 30px;
    font-weight: 500px;
}
/* ================ Info =============== */


/* ================ Servicse ===============*/
.service_sec{
    height: 730px;
    width: 100%;
    background-color:  rgb(240, 240, 240);
}

.service_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_sec  .service_heading h2{
    font-size:36px ;
    font-weight: 500px;
    margin-bottom: 7px;
}

.service_sec .services{
    box-sizing: border-box;
    height:570px;
    width: 1100px;
    margin: 50px auto;
}
.service_sec .services .upper_div,
.service_sec .services .lower_div{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    height: 285px;
    justify-content: center;
    gap: 20px;
}


.service_sec .services .upper_div .service_box,
.service_sec .services .lower_div .service_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:260px;
    width:320px;
    background-color: rgb(0, 218, 218);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}
.service_sec .services .upper_div .service_box .service_icon,
.service_sec .services .lower_div .service_box .service_icon{
    font-size: 50px;
    background-color: rgb(240, 240, 240);
    height: 90px;
    width: 100px;
    border: 9px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.service_sec .services .upper_div .service_box .service_icon:hover,
.service_sec .services .lower_div .service_box .service_icon:hover{
    background-color: blue;
    color:rgb(255, 255, 255) ;
    border:9px solid rgb(240, 240, 240) ;
    transition: .4s all ease;
}
.service_sec .services .upper_div .service_box .box_heading,
.service_sec .services .lower_div .service_box .box_heading{
    font-size: 23px;
    font-weight: 550;
}
.service_sec .services .upper_div .service_box .box_para,
.service_sec .services .lower_div .service_box .box_para{
    text-align: center;
    font-size: 16px;
}


/* ================ Servicse===============*/


/*============== counter section ============= */
#projects_section{
    width: 100%;
    margin: 50px 0px 50px;
    min-height: 350px;
    background-color: rgb(4, 139, 218);
    display: flex;
    justify-content: center;
}

#projects_section .project_count{
    width: 1100px;
    min-height:350px ;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#projects_section .project_count .count_child{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 30px;
}

#projects_section .project_count .count_child .count_icon{
    font-size: 50px;
    height: 90px;
    width: 100px;
    border: 9px solid rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(240, 240, 240);
}

#projects_section .project_count .count_child :nth-child(2),
#projects_section .project_count .count_child :nth-child(3){
    color:rgb(240, 240, 240) ;
    font-size: 26px;
    font-weight: 400;
}
#rating_number{
    display:block;
}
#rating_number i{
    font-size: 19px;
}




/*============== counter section ============= */

